:root {
}

.App {
	display: flex;
	width: 100%;
	align-content: center;
	justify-content: center;
	flex-flow: wrap;
}

.cart {
	background-color: wheat;
	border-radius: 1rem;
	padding: 0.6rem;
	margin: 0.2rem;
}

.title {
	text-align: center;
}

.attributes > div {
	font-weight: bold;
}

.relationships {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 1rem;
}

.like-button {
	color: red;
	border-radius: 10rem;
}

@media screen and (min-width: 1200px) {
	.cart {
		width: 30%;
	}
}

@media screen and (max-width: 1199px) {
	.cart {
		width: 300px;
	}
}

@media screen and (max-width: 991px) {
	.cart {
		width: 380px;
	}
}

@media screen and (max-width: 767px) {
	.cart {
		width: 270px;
	}
}

@media screen and (max-width: 575px) {
	.cart {
		width: 90%;
	}
}
